/data/debug.py
/data/test_id_difficulty.py

/result_human/
/result2/
/result/
/missing_ids/
/MIMIC-human/
/auto-prompting/
/outputs/

*.ipynb
no_diagnostic_criteria.txt
no_canonical_names.txt

infer_oom.py
load_data.py
test.py
similarity_matrix_show.py